<!-- <div class="custom-media d-flex">
    <div class="img mr-4">
     <img src={{teamInput.icon}} alt="Image" class="img-fluid">
   </div> 
   <div class="text">
     <span class="meta">{{teamInput.name}}</span>
     <h3 class="mb-4"><a href="#">{{teamInput.stadium}}</a></h3>
     <p>{{teamInput.owner}}</p>
     
   </div>
 </div> -->

 
 <div class="post-entry">
  <a href="#">
    <img src="{{teamInput.icon}}" alt="Image" class="img-fluid icon">
  </a>
  
  <div class="caption">
    <div class="caption-inner">
      <h3 class="mb-3">{{teamInput.name}}</h3>
      <div class="author d-flex align-items-center">
        <div class="img mb-2 mr-3">
          <img src="{{teamInput.icon}}" alt="">
        </div>
        <div class="text">
          <h4>{{teamInput.stadium}}</h4>
          <span>{{teamInput.owner}}</span>
        </div>
      </div>
    </div>
  </div> 
</div>