<table class="table">
    <tr>
      <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Number</th>
    <th>Position</th>
    <th>Actions</th>
    </tr>
    <tr *ngFor=" let player of playersTab">

      <td>{{player.id}}</td>
      <td>{{player.name}}</td>
      <td>{{player.age}}</td>
      <td>{{player.number}}</td>
      <td>{{player.position}}</td>
      
      <td>
        <button class="btn btn-success mr-2" (click)="goToInfo(player.id)">Display</button>
        <button class="btn btn-warning mr-2">Edit</button>
        <button class="btn btn-danger mr-2" (click)="deletePlayer(player.id)">Delete</button>
      </td>
      
   </tr>
   </table>