<div class="container w-50">
            <div class="post-entry mt-4">
                <a>
                  <img src="{{playerInput.card}}" alt="Image" class="img-fluid">
                </a>
                
                <div class="caption text-center mb-4">
                  <div class="caption-inner">
                    <h3 class="mb-3">{{playerInput.name}}</h3>
                    <p class="mb-3">Age: {{playerInput.age}}</p>
                    <h4>{{playerInput.position}}</h4>
                    <span>Number: {{playerInput.number}}</span>
                   
                  </div>
                </div> 
              </div>
            </div>

